.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form{
   text-align: center;
}

input[type="Email"],input[type="Password"],input[type="text"]{
  padding: 8px;
  margin: 3rem 14rem;
  width: 300px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card{
  display: inline-block;
  border-color: 1px solid black;
  margin:6rem 8px;
}
.size{
  text-align: left;
  margin-left: 4px;
}
.total{
  flex-wrap: wrap;
  display: inline;
}